/* PAGINATION */

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: skyblue;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

/* FILTER */

.filter {
	display: flex;
	flex-direction: column;
	list-style: none;

	margin-top: 6rem;
}

.filter a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.filter a.active {
	background-color: skyblue;
	color: white;
}

.filter a:hover:not(.active) {
	background-color: #ddd;
}
